<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirmation</title>
    <script type="text/javascript" src="server.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h2>Thanks for registering for the baggage claim notification service, <%= user %>!</h2>
    <h5> We'll let you know when your bags have been released onto the baggage carousel.</h5>
    <hr />
    <div class="container">
    </div>
  </body>
</html>